
## User settings
xcuserdata/
project.xcworkspace/
xcshareddata/
project.pbxproj
contents.xcworkspacedata
CoffeeCravin.xcodeproj/project.pbxproj
CoffeeCravin/Utilities/privateFourSquareCredentials.plist
