<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>FUSUJ0RK2AZI0J5FDKVZSULHFPM1GRRCWJMMXR4NYFLYTOEC</string>
	<key>clientSecret</key>
	<string>DCNZIRZN4Y1XHVSG0M0FIT1E51XJ0ZJ2OLMYIE0AESMAAB3R</string>
</dict>
</plist>
