<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>FUSUJ0RK2AZI0J5FDKVZSULHFPM1GRRCWJMMXR4NYFLYTOEC</string>
	<key>clientSecret</key>
	<string>UQDALTZ3234ATOHYHDZTDMUZTHTT5Z55HEKU0ITQ0Y55NJSM</string>
</dict>
</plist>
